@model VisitorRegistration_Models.Company

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Create company"];
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" autofocus />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a href="@ViewData["ReturnUrl"]">Cancel</a>
    </div>
</div>
